@media (max-width:1500px) and (min-width:1000px)
{
.base-container1
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
   
}

.header1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.header1 h1 {
    margin:0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.form1 {
    position: relative;
}

.form-group1 input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.form-group1 label {
    position:absolute;
    top:0;
    left: 0;
    padding : 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.form1 .form-group1 input:focus ~ label,
.form1 .form-group1 input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.base-container1 input[type="submit"]
{
    background:transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 5px;
}
.footer  {
    margin:0 0 30px;
    padding: 0;
    color:white;
    text-align: center;

}
}

@media (max-width:1000px) and (min-width:700px)

{
    .base-container1
    {
        margin:0;
        padding: 0;
        font-family: sans-serif;
        /* background: url(img/img1.jpeg); */
        background-size: cover;
    }
    
    .header1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        padding: 40px;
        background: rgba(0,0,0,0.8);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,0.5);
        border-radius: 10px;
    }
    
    .header1 h1 {
        margin:0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    
    .form1 {
        position: relative;
    }
    
    .form-group1 input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }
    
    .form-group1 label {
        position:absolute;
        top:0;
        left: 0;
        padding : 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
    }
    
    .form1 .form-group1 input:focus ~ label,
    .form1 .form-group1 input:valid ~ label
    {
        top: -18px;
        left: 0;
        color: #03a9f4;
        font-size: 12px;
    }
    
    .base-container1 input[type="submit"]
    {
        background:transparent;
        border: none;
        outline: none;
        color: #fff;
        background: #03a9f4;
        padding: 10px 20px;
        cursor:pointer;
        border-radius: 5px;
    }
    .footer {
        margin:0 0 30px;
        padding: 0;
        color:white;
        text-align: center;
    
    }
    }

    
@media (max-width:700px) and (min-width:500px)

{
    .base-container1
    {
        margin:0;
        padding: 0;
        font-family: sans-serif;
        /* background: url(img/img1.jpeg); */
        background-size: cover;
    }
    
    .header1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        padding: 40px;
        background: rgba(0,0,0,0.8);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,0.5);
        border-radius: 10px;
    }
    
    .header1 h1 {
        margin:0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    
    .form1 {
        position: relative;
    }
    
    .form-group1 input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }
    
    .form-group1 label {
        position:absolute;
        top:0;
        left: 0;
        padding : 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
    }
    
    .form1 .form-group1 input:focus ~ label,
    .form1 .form-group1 input:valid ~ label
    {
        top: -18px;
        left: 0;
        color: #03a9f4;
        font-size: 12px;
    }
    
    .base-container1 input[type="submit"]
    {
        background:transparent;
        border: none;
        outline: none;
        color: #fff;
        background: #03a9f4;
        padding: 10px 20px;
        cursor:pointer;
        border-radius: 5px;
    }
    .footer {
        margin:0 0 30px;
        padding: 0;
        color:white;
        text-align: center;
    
    }
    }

    @media (max-width:500px) and (min-width:50px)

    {
        .base-container1
        {
            margin:0;
            padding: 0;
            font-family: sans-serif;
            /* background: url(img/img1.jpeg); */
            background-size: cover;
        }
        
        .header1 {
            position: absolute;
            top:500px;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 400px;
            padding: 40px;
            background: rgba(0,0,0,0.8);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,0.5);
            border-radius: 10px;
        }
        
        .header1 h1 {
            margin:0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
        }
        
        .form1 {
            position: relative;
        }
        
        .form-group1 input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            letter-spacing: 1px;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }
        
        .form-group1 label {
            position:absolute;
            top:0;
            left: 0;
            padding : 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: 0.5s;
        }
        
        .form1 .form-group1 input:focus ~ label,
        .form1 .form-group1 input:valid ~ label
        {
            top: -18px;
            left: 0;
            color: #03a9f4;
            font-size: 12px;
        }
        
        .base-container1 input[type="submit"]
        {
            background:transparent;
            border: none;
            outline: none;
            color: #fff;
            background: #03a9f4;
            padding: 10px 20px;
            cursor:pointer;
            border-radius: 5px;
        }
        .footer {
            margin:0 0 30px;
            padding: 0;
            color:white;
            text-align: center;
        
        }
        }
    



































