.base-container2
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    /* background: url(img/img1.jpeg); */
    background-size: cover;
    
}

.header2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding:15px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 2px red solid;
}

.header2 h1 {
    margin:0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.form2 {
    position: relative;
}

.form-group2 input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.form-group2 label {
    position:absolute;
    top:0;
    left: 0;
    padding : 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.form2 .form-group2 input:focus ~ label,
.form2 .form-group2 input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.base-container2 input[type="submit"]
{
    background:transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 5px;
}

.footer .btn {
    color: #fff;
    background: #03a9f4;
}

.Pre {
    padding-top:1%;
    text-align:center;
}
.abc {
    text-align:center;
    
}



































