.threed1 {
    text-align: center;
    color:#272343;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200px;
    font-size: 50px;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
}


img{
    margin-top: 5%;
    margin-left:380px;
    border-radius: 10px;
    box-shadow:rgb(206, 21, 21); 
    width:600px;
    height:350px;
}
.p1{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top:20px;
}
